$primary-green-color: #00ab6b;
$dark-right-content-background-color: #282828;
$dark-card-background-color: #222222;
$dark-font-color: #a8a8a8;
$dark-highlight-font-color: #fff;
$dark-leftbar-submenu-background-color: #1e1e1e;
$dark-waring-color: #ff4949;

// Alert status
$alert-urgent-color: #d31f1f;
$alert-main-color: #f1693c;
$alert-risk-color: #f19f39;
$alert-waring-color: #e3c32b;

// Crud
$crud-custom-color: #939395;
$crud-custom-color--active: #1BC88D;
$crud-custom-color--disabled: #C9C9CA;
$crud-custom-bg--hover: #f5f7fa;

// App-templates
$app-template-enum: #22bb71;
$app-template-boolean: #34e2f1;
$app-template-number: #4990e2;
$app-template-string: #43c6d4;
$app-template-write-only: #767fdb;
