.el-tag--danger {
  background-color: rgba(211, 31, 31, 0.1);
  border-color: rgba(211, 31, 31, 0.2);
  color: #d31f1f;
}
.el-tag--warning {
  background-color: rgba(241, 105, 60, 0.1);
  border-color: rgba(241, 105, 60, 0.2);
  color: #f1693c;
}
.el-tag--info {
  background-color: rgba(241, 159, 57, 0.1);
  border-color: rgba(241, 159, 57, 0.2);
  color: #f19f39;
}
.el-tag--success {
  background-color: rgba(227, 195, 43, 0.1);
  border-color: rgba(227, 195, 43, 0.2);
  color: #e3c32b;
}
